<a href="https://colab.research.google.com/github/MoriamAkterSwarna/AI-ML/blob/main/Moriam_Akter_Swarna.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

**Email Address: moriam.ph@gmail.com**

## **NumPy Section**

## **Starter Code**

In [ ]:
# You must run this code and use that data set for all the questions
import numpy as np
import pandas as pd

np.random.seed(42)

ids = np.arange(1, 11)
ages = np.random.randint(18, 60, 10)
salaries = np.random.randint(30000, 90000, 10)
departments = np.array(["HR", "IT", "Finance", "IT", "HR", "Sales", "Finance", "IT", "Sales", "HR"])

DF = pd.DataFrame({
"id": ids,
"age": ages,
"salary": salaries,
"dept": departments
})

DF.to_csv("employees.csv", index=False)
print("Sample Data Created and Saved as employees.csv")

Sample Data Created and Saved as employees.csv

# **Answer to the Q1**

In [ ]:
ages_array = np.array(ages)
salaries_array = np.array(salaries)

print("Ages Array:")
print(ages_array)
print("\n")
print("Salaries Array:")
print(salaries_array)

print("\n")
print("Ages: ")
print("dtype: ", ages_array.dtype, "\nndim: ", ages_array.ndim, "\nshape: ", ages_array.shape, "\nSize: ", ages_array.size )
print("\n")
print("Salaries: ")
print("dtype: ",salaries_array.dtype , "\nndim: ", salaries_array.ndim, "\nshape: ", salaries_array.shape, "\nSize: ", salaries_array.size)

Ages Array:
[56 46 32 25 38 56 36 40 28 28]


Salaries Array:
[77191 74131 46023 71090 31685 30769 89735 86101 32433 35311]


Ages:
dtype:  int64
ndim:  1
shape:  (10,)
Size:  10


Salaries:
dtype:  int64
ndim:  1
shape:  (10,)
Size:  10

## **Answer to the Q2**

In [ ]:
print("Highest Salary: " , salaries_array.max())
print("Lowest Salary: " , salaries_array.min())

print("\n")
print("Average Salary: " , salaries_array.mean())
print("Average Age: ", ages_array.mean())

Highest Salary:  89735
Lowest Salary:  30769


Average Salary:  57446.9
Average Age:  38.5

## **Answer to the Q3**

In [ ]:
greater_30 = ages_array[ages_array > 30]
print("Ages greater than 30: ", greater_30)

print("Employees older than 30: ", greater_30.size)

Ages greater than 30:  [56 46 32 38 56 36 40]
Employees older than 30:  7

## **Answer to the Q4**

In [ ]:
new_ages_arr = ages_array + 5
print("Previos Original Array: " , ages_array)
print("New Ages Array: ", new_ages_arr)

Previos Original Array:  [56 46 32 25 38 56 36 40 28 28]
New Ages Array:  [61 51 37 30 43 61 41 45 33 33]

## **Answer to the Q5**

In [ ]:
total_salary = salaries_array.sum()
print("Total Salary: ", total_salary)

max_salary = salaries_array.max()
min_salary = salaries_array.min()

diff = max_salary - min_salary
print("Difference between Max and Min Salary: ", diff)

Total Salary:  574469
Difference between Max and Min Salary:  58966

## **Pandas Section**

## **Answer to the Q6**

In [ ]:
df = pd.read_csv("employees.csv")


print("First 5 Rows: \n",df.head())

print("\n")
print("Basic Info: ", df.info())
print("\n")
print("Summary Statistics: " )
print(df.describe())

First 5 Rows:
    id  age  salary     dept
0   1   56   77191       HR
1   2   46   74131       IT
2   3   32   46023  Finance
3   4   25   71090       IT
4   5   38   31685       HR


<class 'pandas.core.frame.DataFrame'>
RangeIndex: 10 entries, 0 to 9
Data columns (total 4 columns):
 #   Column  Non-Null Count  Dtype
---  ------  --------------  -----
 0   id      10 non-null     int64
 1   age     10 non-null     int64
 2   salary  10 non-null     int64
 3   dept    10 non-null     object
dtypes: int64(3), object(1)
memory usage: 452.0+ bytes
Basic Info:  None


Summary Statistics:
             id       age        salary
count  10.00000  10.00000     10.000000
mean    5.50000  38.50000  57446.900000
std     3.02765  11.16791  24357.262884
min     1.00000  25.00000  30769.000000
25%     3.25000  29.00000  33152.500000
50%     5.50000  37.00000  58556.500000
75%     7.75000  44.50000  76426.000000
max    10.00000  56.00000  89735.000000

## **Answer to the Q7**

In [ ]:
# print(df[['id','age','salary']])

last_3_rows = (df[['id','age','salary']]).tail(3)
print("\n")
print("Last 3 Rows: " )
print(last_3_rows)

Last 3 Rows:
   id  age  salary
7   8   40   86101
8   9   28   32433
9  10   28   35311

# **Answer to the Q8**

In [ ]:
employee_in_it = df[df['dept'] == 'IT']
print("Employees in IT Department:")
print(employee_in_it)

print("\n")
print("Number of employees in IT Department:",len(employee_in_it))

Employees in IT Department:
   id  age  salary dept
1   2   46   74131   IT
3   4   25   71090   IT
7   8   40   86101   IT


Number of employees in IT Department: 3

## **Answer to the Q9**

In [ ]:
sorted_dt = df.sort_values(by='salary', ascending=False)
# print("Sorted Data Frame: ")
# print(sorted_dt)

heighest_paid = sorted_dt.head(3)
print("\n")
print("Highest Paid Employee: ")
print(heighest_paid[[ 'dept', 'age', 'salary']] )

Highest Paid Employee:
      dept  age  salary
6  Finance   36   89735
7       IT   40   86101
0       HR   56   77191

## **Answer to the Q10**

In [ ]:
df.loc[df['salary'] > 80000, 'salary'] = 80000

print("Updated Salaries:", df['salary'])
print("\n")
print("New Average Salary:", df['salary'].mean())

Updated Salaries: 0    77191
1    74131
2    46023
3    71090
4    31685
5    30769
6    80000
7    80000
8    32433
9    35311
Name: salary, dtype: int64


New Average Salary: 55863.3